<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="DHIKR">
    <meta name="author" content="GeoGen Team">
    <title>Hostel Management</title>
    <link href="https://getbootstrap.com/docs/4.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/css/header.css">


</head>

<body>

    <header>


        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a href="/" class="navbar-brand d-flex align-items-right">

                    <strong>HOSTEL</strong>
                </a>
                <div class="dropdown">
                    <button class="dropbtn">  <i class="fa fa-fw fa-home"></i></button>
                    <!-- list of drop dropdown -->
                    <div class="dropdown-content">
                      <ul class="list-unstyled">
                          <% if (!currentUser) { %>
                          <a  href="#nav-home">
                              <li class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>  ">STUDENT Login</li>
                          </a>
                          <a class="" href="/register">
                              <li class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>">Sign
                                  Up</li>
                          </a>
                          <% } else { %>
                          <% if (currentUser.isAdmin) { %>
                          <a class="text-black" href="#<%= currentUser._id %>">
                              <li>Admin.
                                  <%= currentUser.username %>
                              </li>
                          </a>
                          <% } else { %>
                          <a class="text-black" href="/">
                              <li class="<%= typeof page !== 'undefined' && page === 'home' ? 'active' : '' %> ">Dashboard</li>
                          </a>
                          <a class="text-black" href="#<%= currentUser._id %>">
                              <li>Hi,
                                  <%= currentUser.username %>
                              </li>
                          </a>
                          <% } %>
                          <li><a href="/logout" class="text-black">Logout</a></li>
                          <% } %>
                      </ul>
                    </div>
            </div>
        </div>
    </header>

    <div class="container">
        <% if (error && error.length > 0) {%>
        <br>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
        <% } %>
        <% if (success && success.length > 0) {%>
        <br>
        <div class="alert alert-success" role="alert">
            <%= success %>
        </div>
        <% } %>
    </div>
